<style>
#qqq{
  padding-left: 20px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}


body {margin: 0px;}

 h1 { padding: 20px;
        font-size: 45px;
         text-align: center;
          border-bottom: 2px solid green;
margin: 0;}


ol{     border-right: 2px solid green;
         width: 100px;
          padding: 20px;
           margin: 0;
            padding-left: 34px;}
#zzz ol{
  padding-left: 34px;}
  @media(max-width:740px){
    #grid{
            display: block;
  }
  ol{     border-right:none;
  }
                                              }

 </style
